{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

 {% block preReqs %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

    {% block loginLink%}active{% endblock %}
        
    {% block topLeftPane %}
        <div id="newUser" class="sideButton">Need to create an account?</div>

    {% endblock %}

    {% block middleLeftPane %}
        <div href="/account/facebook/login/" class="sideButton fb">
            <div class="icon-facebook"></div>
            <div id="facebookText">Login through facebook</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}

    {% endblock %}

    {% block mainPane %}
        <div class="window">
            <div class="windowHeader" >
                <div id="loginHeader">Create an account at gameServe</div>
            </div>
            <div class="accountSection">
                <form id="oldMember" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}


                    
                    {{ form.non_field_errors }}
                    <div class="loginBlock">
                        <h5>email:</h5>
                        <input type="text" class="loginField" id="id_username" placeholder="username" name="login">
                        {{ form.login.errors }}
                    </div>
                   
                    <div class="loginBlock">
                        <h5>password:</h5>
                        <input type="text" class="loginField" id="id_password1" placeholder="password" name="password">
                        {{ form.password.errors }}
                    </div>
                    <div class="loginBlock">
                        <div class="remember-forgot-section">
                            <input id="id_remember" name="remember" type="checkbox"/>
                            <label for="id_remember">Remember Me</label>
                        </div>
                    </div>
                    <div class="loginBlock">   
                        <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                    <button type="submit" form="oldMember" id="signIn" class="wideButton btn">Login</button>
                </form>
            </div>
        </div>
    {% endblock %}
