{% extends "base.html" %}


{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

 {% block preReqs %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

    {% block registerLink %}active{% endblock %}
        
    {% block topLeftPane %}
        <div id="existingUser" class="sideButton">Already have an acount?</div>
    {% endblock %}

    {% block middleLeftPane %}
    <a href="/account/facebook/login/">
        <div class="sideButton fb">
            <div class="icon-facebook"></div>
            <div id="facebookText">Create an account through facebook</div>
        </div>
    </a>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% endblock %}

    {% block mainPane %}
        <div class="window">
            <div class="windowHeader" >
                <div id="loginHeader">Create an account at gameServe</div>
            </div>
            <div class="accountSection expand" >
                <form id="newMember" method="post" action=".">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                     
                    {{ form.non_field_errors }}
                  
                    <div class="loginBlock">
                        <h5>{{form.username.label}}</h5>
                        <input autofocus="autofocus" id="id_username" maxlength="30" name="username" placeholder="Username" type="text">
                        {{form.username.errors}}

                    </div>
                    
                    <div class="loginBlock">
                        <h5>{{form.email.label}}</h5>
                        <input id="id_email" name="email" placeholder="E-mail address" type="email">
                        {{form.email.errors}}

                    </div>
                    
                    <div class="loginBlock">
                        <h5>{{form.password1.label}}</h5>
                        <input id="id_password1" name="password1" placeholder="Password" type="password">
                        {{form.password1.errors}}

                    </div>
                    
                    <div class="loginBlock">
                        <h5>{{form.password2.label}}</h5>
                        <input id="id_password2" name="password2" placeholder="Password" type="password">
                        {{form.password2.errors}}
                    </div>
                     <div class="loginBlock">
                        <h5>{{form.phone_number.label}}</h5>
                        <input class="loginField" id="id_phone_number" maxlength="13" name="phone_number" type="text">
                    </div>
                     
                    <button id='submitbtn' style=" display:none" type="submit"></button>
                    <div type="submit" form="newMember" id="signUp" class="wideButton">Create Account</div>
                </form>
            </div>
    {% endblock %}
