@font-face {
  font-family: 'sinkin_sans300_light_italic';
  src: url("../assets/fonts/sinkinsans-300lightitalic-webfont.eot");
  src: url("../assets/fonts/sinkinsans-300lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sinkinsans-300lightitalic-webfont.woff") format("woff"), url("../assets/fonts/sinkinsans-300lightitalic-webfont.ttf") format("truetype"), url("../assets/fonts/sinkinsans-300lightitalic-webfont.svg#sinkin_sans300_light_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sinkin_sans300_light';
  src: url("../assets/fonts/sinkinsans-300light-webfont.eot");
  src: url("../assets/fonts/sinkinsans-300light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sinkinsans-300light-webfont.woff") format("woff"), url("../assets/fonts/sinkinsans-300light-webfont.ttf") format("truetype"), url("../assets/fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kenyan_coffeeregular';
  src: url("../assets/fonts/kenyan_coffee_rg.eot");
  src: url("../assets/fonts/kenyan_coffee_rg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/kenyan_coffee_rg.woff") format("woff"), url("../assets/fonts/kenyan_coffee_rg.ttf") format("truetype"), url("../assets/fonts/kenyan_coffee_rg.svg#kenyan_coffeeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kenyan_coffeeitalic';
  src: url("../assets/fonts/kenyan_coffee_rg_it.eot");
  src: url("../assets/fonts/kenyan_coffee_rg_it.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/kenyan_coffee_rg_it.woff") format("woff"), url("../assets/fonts/kenyan_coffee_rg_it.ttf") format("truetype"), url("../assets/fonts/kenyan_coffee_rg_it.svg#kenyan_coffeeitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../assets/icons/icomoon.eot?-y1ycr0");
  src: url("../assets/icons/icomoon.eot?#iefix-y1ycr0") format("embedded-opentype"), url("../assets/icons/icomoon.woff?-y1ycr0") format("woff"), url("../assets/icons/icomoon.ttf?-y1ycr0") format("truetype"), url("../assets/icons/icomoon.svg?-y1ycr0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 67, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 81, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.largeIcon {
  font-size: 85px;
  width: 85px;
  margin: 5px auto;
}
/* line 85, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.largeIcon.left {
  float: left;
}

/* line 90, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-heatRep:before {
  content: "\e60d";
}

/* line 93, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-baseball:before {
  content: "\e600";
}

/* line 96, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-basketball:before {
  content: "\e601";
}

/* line 99, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-biking:before {
  content: "\e602";
}

/* line 102, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-checkedIn:before {
  content: "\e603";
}

/* line 105, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-comments:before {
  content: "\e604";
}

/* line 108, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-committed:before {
  content: "\e605";
}

/* line 111, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-football:before {
  content: "\e606";
}

/* line 114, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-pingpong:before {
  content: "\e607";
}

/* line 117, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-racquetball:before {
  content: "\e608";
}

/* line 120, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-running:before {
  content: "\e609";
}

/* line 123, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-soccer:before {
  content: "\e60a";
}

/* line 126, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-tennis:before {
  content: "\e60b";
}

/* line 129, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-volleyball:before {
  content: "\e60c";
}

/* line 132, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-expand:before {
  content: "\e60e";
}

/* line 135, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-contract:before {
  content: "\e60f";
}

/* line 138, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-close:before {
  content: "\e610";
}

/* line 141, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-checkmark:before {
  content: "\e611";
}

/* line 144, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-minus:before {
  content: "\e612";
}

/* line 147, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-plus:before {
  content: "\e613";
}

/* line 150, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-arrow-up:before {
  content: "\e614";
}

/* line 153, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-mobile:before {
  content: "\e615";
}

/* line 156, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-mail:before {
  content: "\e616";
}

/* line 159, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-camera:before {
  content: "\e617";
}

/* line 162, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-facebook:before {
  content: "\e618";
}

/* line 165, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.icon-gsIcon:before {
  content: "\e619";
}

/* line 168, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
body {
  background: #cecece;
  font-family: 'sinkin_sans300_light';
  margin: 0px;
  padding: 0px;
  color: #2e2d2c;
}

/* line 175, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.center {
  margin: auto;
  width: 1000px;
  height: 100%;
}
/* line 179, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.center.head {
  width: 870px;
}

/* line 183, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.invis {
  display: none;
}

/* line 186, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
/* line 193, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#content.blurry {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
/* line 197, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#content #fader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
/* line 205, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#content #fader.fade {
  opacity: 1;
  pointer-events: none;
}

/* line 211, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
header {
  position: fixed;
  height: 57px;
  width: 100%;
  background: #f7f7f7;
  z-index: 100;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
/* line 219, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
header .headerLink {
  position: relative;
  height: 57px;
  padding: 15px 20px;
  float: right;
  margin-right: 10px;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-align: center;
  cursor: pointer;
}
/* line 229, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
header .headerLink:hover {
  color: #f7f7f7;
}
/* line 232, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
header .headerLink:hover > .linkSlider {
  opacity: 1;
  top: 0px;
}
/* line 236, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
header .headerLink .linkSlider {
  position: absolute;
  width: 100%;
  height: 57px;
  top: -90px;
  margin-left: -20px;
  background: #6cab43;
  z-index: -1;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
/* line 245, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
header .headerLink .linkSlider.active {
  opacity: 1;
  top: 0px;
}

/* line 252, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.verticalPane {
  position: relative;
  float: left;
  padding-top: 75px;
  width: 600px;
  height: 100%;
}
/* line 258, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.verticalPane.small {
  width: 300px;
  margin-left: 15px;
}

/* line 263, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#logo {
  position: relative;
  width: 170px;
}

/* line 268, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window {
  background: #f7f7f7;
  position: relative;
  float: left;
  margin: 20px;
  border-radius: 5px;
  margin-top: 20px;
  min-height: 200px;
  width: 600px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* line 279, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window.side {
  width: 250px;
}
/* line 282, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowHeader {
  position: relative;
  top: 0px;
  padding: 5px 10px;
  color: #2e2d2c;
  background: #cecece;
  width: 100%;
  height: 30px;
}
/* line 291, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowHeader.large {
  color: #2e2d2c;
  background: #f7f7f7;
  height: 180px;
}
/* line 296, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowHeader.medium {
  color: #2e2d2c;
  background: #f7f7f7;
  height: 90px;
}
/* line 302, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock {
  position: relative;
  float: left;
  width: 33%;
  height: 180px;
  text-align: center;
  background: #2e2d2c;
  color: #f7f7f7;
  padding-top: 20px;
  font-size: 14px;
}
/* line 312, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock:nth-child(2n+1) {
  width: 34%;
  background: #6cab43;
}
/* line 316, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock.scheduler {
  background: transparent;
  color: #aaaaaa;
  padding: 0px;
}
/* line 321, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock h5 {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
/* line 326, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock .blockText {
  position: relative;
  font-size: 26px;
  color: #f7f7f7;
}
/* line 331, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock .blockDeet {
  position: relative;
  font-size: 12px;
  width: 100%;
  color: #f7f7f7;
  margin-bottom: 40px;
}
/* line 337, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock .blockDeet:last-child {
  position: absolute;
  bottom: 20px;
  margin: 0px;
}
/* line 342, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock .blockDeet.scheduler {
  color: #aaaaaa;
  margin-bottom: 0px;
}
/* line 347, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.window .windowBlock #pickerInput {
  display: none;
}

/* line 352, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#mapCanvas {
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
}
/* line 356, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#mapCanvas.bigMap {
  position: relative;
  clear: both;
  height: 400px;
}
/* line 361, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#mapCanvas.sideMap {
  position: relative;
  margin-top: 0px;
  float: left;
  height: 200px;
  width: 66%;
}

/* line 369, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.userPhoto {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0px 10px;
  border-radius: 50%;
  pointer-events: none;
}
/* line 377, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.userPhoto.large {
  margin: 10px;
  border: 5px solid #f7f7f7;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  pointer-events: all;
}
/* line 384, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.userPhoto.large:hover + .editPhoto {
  opacity: .6;
  cursor: pointer;
}

/* line 390, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.editPhoto {
  opacity: 0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 45px;
  left: 50px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background: #6cab43;
  border-radius: 50%;
  color: #f7f7f7;
  transition: 200ms;
}
/* line 404, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.editPhoto:hover {
  opacity: .6;
  cursor: pointer;
}
/* line 408, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.editPhoto .icon-camera {
  position: absolute;
  font-size: 40px;
  margin: 25px 30px;
}

/* line 415, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listImg {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 50px;
  float: left;
  margin: 0px 10px;
  color: #2e2d2c;
}
/* line 424, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listImg.green {
  color: #6cab43;
}

/* line 428, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.heatImg {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
  font-size: 50px;
  color: #aaaaaa;
}
/* line 436, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.heatImg.hot {
  color: #6cab43;
}

/* line 440, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.browseGameInfo {
  position: relative;
  height: 100%;
  float: left;
  color: #2e2d2c;
  font-size: 12px;
  cursor: pointer;
}
/* line 448, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.browseGameInfo .infoBlock {
  position: relative;
  float: left;
  margin: 0px 20px;
  width: 180px;
}
/* line 454, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.browseGameInfo .infoText {
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
  clear: both;
}

/* line 462, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.staticListItem {
  position: relative;
  width: calc(100% - 20px);
  padding: 5px 10px;
  border-top: 1px solid #cecece;
  overflow: hidden;
  cursor: pointer;
}

/* line 470, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem {
  position: relative;
  width: calc(100% - 20px);
  padding: 5px 10px;
  border-top: 1px solid #cecece;
  overflow: hidden;
  cursor: pointer;
}
/* line 478, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover {
  background: #6cab43;
  color: #f7f7f7;
}
/* line 482, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .recentInfo {
  color: #f7f7f7;
}
/* line 485, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .browseGameInfo {
  color: #f7f7f7;
}
/* line 487, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .browseGameInfo .heatImg {
  color: rgba(247, 247, 247, 0.7);
}
/* line 489, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .browseGameInfo .heatImg.hot {
  color: #f7f7f7;
}
/* line 494, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .listImg {
  color: #f7f7f7;
}
/* line 497, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .statType {
  color: #f7f7f7;
}
/* line 500, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.listItem:hover > .statNum {
  color: #f7f7f7;
}

/* line 504, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.recentInfo {
  position: relative;
  width: 150px;
  height: 100%;
  float: right;
  color: #2e2d2c;
  font-size: 12px;
}

/* line 513, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.statNum {
  color: #6cab43;
  float: left;
  font-size: 26px;
  margin-left: 10px;
}

/* line 519, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.statType {
  position: relative;
  width: 150px;
  height: 100%;
  float: left;
  color: #aaaaaa;
  margin-top: -8px;
  margin-left: 10px;
  font-size: 12px;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

/* line 530, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.commentSection {
  position: relative;
  width: calc(100% - 70px);
  height: 100%;
  float: left;
  color: #aaaaaa;
  font-size: 12px;
  min-height: 60px;
}
/* line 538, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.commentSection.create {
  height: 90px;
  width: 420px;
}
/* line 542, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.commentSection .comment {
  position: absolute;
  width: 400px;
  font-size: 12px;
  color: #aaaaaa;
}
/* line 548, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.commentSection .deltaTime {
  position: absolute;
  right: 10px;
  bottom: 0px;
  height: 20px;
  font-size: 12px;
  color: #cecece;
}
/* line 556, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.commentSection #commentInput {
  position: absolute;
  height: 80px;
  width: 400px;
  border: none;
  box-shadow: inset 0 0 2px 2px #cecece;
  font-family: 'sinkin_sans300_light';
  border-radius: 5px;
  padding: 3px 5px;
}

/* line 567, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#submitComment {
  position: absolute;
  right: 0px;
  height: 100%;
  margin-top: -5px;
  width: 100px;
  background: #2e2d2c;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
/* line 575, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#submitComment:hover {
  background: #6cab43;
}
/* line 578, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#submitComment .icon-arrow-up {
  font-size: 30px;
  color: #f7f7f7;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

/* line 586, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterSection {
  position: relative;
  float: left;
  width: 360px;
  height: auto;
  padding: 10px 0px 0px 5px;
  display: block;
  margin: auto;
  padding-bottom: 0px;
}
/* line 595, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterSection.side {
  width: 140px;
}
/* line 598, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterSection.vert {
  width: 100%;
  height: auto;
}
/* line 601, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterSection.vert:nth-child(2n+1) {
  padding-top: 0px;
  margin-bottom: 45px;
}

/* line 608, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.verticalPane .filterResults:not(.browse) {
  margin-right: 30px;
}

/* line 613, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterResults input, .filterSection input {
  display: none;
}
/* line 616, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterResults label, .filterSection label {
  position: relative;
  width: 100px;
  height: 20px;
  float: left;
  font-size: 12px;
  padding: 3px 5px;
  color: #2e2d2c;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  cursor: pointer;
}
/* line 629, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterResults label:hover, .filterSection label:hover {
  background: rgba(108, 171, 67, 0.6);
  color: #f7f7f7;
}
/* line 633, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterResults label.selected, .filterSection label.selected {
  background: #6cab43;
  color: #f7f7f7;
}
/* line 639, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterResults input:checked + label, .filterSection input:checked + label {
  background: #6cab43;
  color: #f7f7f7;
}

/* line 644, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterButton {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 60px;
  background: #2e2d2c;
  text-align: center;
  color: #f7f7f7;
  padding-top: 65px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
/* line 655, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterButton:hover {
  background: #6cab43;
}
/* line 658, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.filterButton.bottom {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  padding-top: 10px;
}

/* line 666, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.gameButton {
  position: relative;
  width: 100px;
  height: 20px;
  float: left;
  font-size: 12px;
  padding: 3px 5px;
  color: #2e2d2c;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  cursor: pointer;
}
/* line 679, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.gameButton:hover {
  background: rgba(108, 171, 67, 0.6);
  color: #f7f7f7;
}
/* line 683, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.gameButton.selected {
  background: #6cab43;
  color: #f7f7f7;
}

/* line 688, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown {
  opacity: 1;
  position: fixed;
  top: 55px;
  right: 200px;
  width: 300px;
  height: 300px;
  background: #f7f7f7;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -ms-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
/* line 700, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown.hidden {
  display: none;
}
/* line 703, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown #newMember {
  padding: 10px;
}
/* line 705, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown #newMember.hidden {
  display: none;
}
/* line 708, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown #newMember h5 {
  margin: 0px;
}
/* line 712, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .windowHeader {
  position: relative;
  top: 0px;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #2e2d2c;
  width: calc(100% - 20px);
  height: 30px;
}
/* line 720, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .windowHeader .icon-close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  font-size: 15px;
  color: #cecece;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
/* line 728, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .windowHeader .icon-close:hover {
  color: #6cab43;
}
/* line 733, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .loginBlock {
  position: relative;
  float: left;
  margin: 10px;
  min-width: 270px;
}
/* line 739, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .loginField {
  position: relative;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 15px;
  color: #6cab43;
  font-family: 'sinkin_sans300_light';
  clear: both;
  box-shadow: inset 0 0 2px 2px #cecece;
}
/* line 752, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
  margin-top: 20px;
}
/* line 758, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection .authButton {
  position: relative;
  width: 50%;
  height: 100%;
  padding-top: 6px;
  float: left;
  text-align: center;
  background: #2e2d2c;
  color: #f7f7f7;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
/* line 769, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection .authButton:hover {
  background: #6cab43;
  color: #f7f7f7;
}
/* line 773, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection .authButton.fb {
  background: #3B5998;
  transition: 200ms;
}
/* line 776, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection .authButton.fb:hover {
  background: #627AAD;
}
/* line 779, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection .authButton.fb .icon-facebook {
  position: relative;
  float: left;
  color: #F2F2F2;
  margin-right: 10px;
  font-size: 28px;
}
/* line 786, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#loginDropdown .authButtonSection .authButton.fb #facebookText {
  position: relative;
  color: #F2F2F2;
  float: left;
  font-size: 13px;
  margin-top: 4px;
  margin-left: -5px;
}

/* line 798, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection {
  height: 200px;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -ms-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  transition: 400ms;
  overflow: hidden;
}
/* line 803, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection.expand {
  height: 450px;
}
/* line 806, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection .loginBlock {
  position: relative;
  float: left;
  margin: 10px;
  min-width: 270px;
}
/* line 812, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #oldMember {
  padding: 10px;
}
/* line 814, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #oldMember.hidden {
  display: none;
}
/* line 817, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #oldMember h5 {
  margin: 0px;
}
/* line 821, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #newMember {
  padding: 10px;
}
/* line 823, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #newMember.hidden {
  display: none;
}
/* line 826, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #newMember h5 {
  margin: 0px;
}
/* line 830, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection .windowHeader {
  position: relative;
  top: 0px;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #2e2d2c;
  width: calc(100% - 20px);
  height: 30px;
}
/* line 838, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection .windowHeader .icon-close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  font-size: 15px;
  color: #cecece;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
/* line 846, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection .windowHeader .icon-close:hover {
  color: #6cab43;
}
/* line 852, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection #id_phone_number, .accountSection #id_username, .accountSection #id_email, .accountSection #id_email1, .accountSection #id_password1, .accountSection #id_password2 {
  position: relative;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 15px;
  color: #6cab43;
  font-family: 'sinkin_sans300_light';
  clear: both;
  box-shadow: inset 0 0 2px 2px #cecece;
}
/* line 865, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.accountSection .tempPhotoUpload {
  position: relative;
  float: left;
  height: 180px;
  width: 100%;
  border-radius: 5px;
  background: #aaaaaa;
}

/* line 875, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#facebookLogin {
  clear: both;
  position: relative;
  height: 30px;
  bottom: 10px;
  width: calc(100% - 40px);
  margin: auto 10px;
  background: #3B5998;
  padding: 10px;
  border-radius: 5px;
  transition: 200ms;
}
/* line 886, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#facebookLogin:hover {
  background: #627AAD;
}
/* line 889, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#facebookLogin .icon-facebook {
  position: relative;
  float: left;
  color: #F2F2F2;
  margin-right: 10px;
  font-size: 28px;
}
/* line 896, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#facebookLogin #facebookText {
  position: relative;
  color: #F2F2F2;
  float: left;
}

/* line 904, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.headerDeets {
  position: relative;
  float: left;
  width: 400px;
}
/* line 908, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.headerDeets .headerGame {
  margin: 20px;
}

/* line 912, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
h1, h3, h2, h5 {
  margin: 5px 0px;
  font-family: 'sinkin_sans300_light';
}

/* line 916, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.headerInfo {
  position: relative;
  float: left;
}

/* line 920, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.userInfo {
  position: relative;
  float: left;
  font-size: 30px;
}

/* line 925, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker {
  position: relative;
  margin: 10px 25px;
  height: 50px;
  width: 100%;
}
/* line 930, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker.duration {
  margin-left: 45px;
}
/* line 933, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker #amPmToggle {
  position: relative;
  height: 20px;
  width: 25px;
  padding: 5px;
  background: #2e2d2c;
  float: left;
  color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
}
/* line 944, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker #amPmToggle:hover {
  background: #6cab43;
}
/* line 948, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker .timeSelect {
  position: relative;
  height: 30px;
  padding: 5px;
  font-family: 'sinkin_sans300_light';
  font-size: 14px;
  float: left;
  background: #2e2d2c;
  border: none;
  color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
}
/* line 961, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker .timeSelect:hover {
  background: #6cab43;
}
/* line 965, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.timePicker label {
  position: relative;
  top: 32px;
  font-size: 10px;
  left: -112px;
  margin-left: 15px;
}

/* line 973, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.sideButton {
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  background: #2e2d2c;
  padding-top: 20px;
  text-align: center;
  color: #f7f7f7;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* line 987, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.sideButton:hover {
  background: #6cab43;
}
/* line 990, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
.sideButton.hidden {
  display: none;
}

/* line 995, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice {
  background: #f7f7f7;
  position: fixed;
  margin: 200px 350px;
  border-radius: 5px;
  min-height: 200px;
  width: 500px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 110;
  transition: 200ms;
}
/* line 1006, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice.hidden {
  opacity: 0;
  pointer-events: none;
}
/* line 1010, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice #gsIcon {
  position: relative;
  float: left;
  width: 100px;
}
/* line 1015, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice #noticeHeader {
  position: relative;
  top: 0px;
  padding: 5px 10px;
  color: #2e2d2c;
  background: #cecece;
  width: 100%;
  height: 30px;
}
/* line 1024, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice .noticeContent {
  position: relative;
  width: 100%;
  padding: 5px 10px;
}
/* line 1028, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice .noticeContent #noticeText {
  position: absolute;
  right: 30px;
  width: 350px;
}
/* line 1034, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice #noticeButton {
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: #f7f7f7;
  background: #2e2d2c;
  width: 100%;
  height: 30px;
  transition: 200ms;
}
/* line 1043, C:/Users/T/Desktop/Projects/GameServe/GameServe/static/css/style.scss */
#popupNotice #noticeButton:hover {
  background: #6cab43;
}
