@font-face {
  font-family: 'sinkin_sans300_light_italic';
  src: url("../assets/fonts/sinkinsans-300lightitalic-webfont.eot");
  src: url("../assets/fonts/sinkinsans-300lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sinkinsans-300lightitalic-webfont.woff") format("woff"), url("../assets/fonts/sinkinsans-300lightitalic-webfont.ttf") format("truetype"), url("../assets/fonts/sinkinsans-300lightitalic-webfont.svg#sinkin_sans300_light_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sinkin_sans300_light';
  src: url("../assets/fonts/sinkinsans-300light-webfont.eot");
  src: url("../assets/fonts/sinkinsans-300light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sinkinsans-300light-webfont.woff") format("woff"), url("../assets/fonts/sinkinsans-300light-webfont.ttf") format("truetype"), url("../assets/fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kenyan_coffeeregular';
  src: url("../assets/fonts/kenyan_coffee_rg.eot");
  src: url("../assets/fonts/kenyan_coffee_rg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/kenyan_coffee_rg.woff") format("woff"), url("../assets/fonts/kenyan_coffee_rg.ttf") format("truetype"), url("../assets/fonts/kenyan_coffee_rg.svg#kenyan_coffeeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kenyan_coffeeitalic';
  src: url("../assets/fonts/kenyan_coffee_rg_it.eot");
  src: url("../assets/fonts/kenyan_coffee_rg_it.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/kenyan_coffee_rg_it.woff") format("woff"), url("../assets/fonts/kenyan_coffee_rg_it.ttf") format("truetype"), url("../assets/fonts/kenyan_coffee_rg_it.svg#kenyan_coffeeitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../assets/sportIcons/icomoon.eot?-y1ycr0");
  src: url("../assets/sportIcons/icomoon.eot?#iefix-y1ycr0") format("embedded-opentype"), url("../assets/sportIcons/icomoon.woff?-y1ycr0") format("woff"), url("../assets/sportIcons/icomoon.ttf?-y1ycr0") format("truetype"), url("../assets/sportIcons/icomoon.svg?-y1ycr0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heatRep:before {
  content: "\e60d"; }

.icon-baseball:before {
  content: "\e600"; }

.icon-basketball:before {
  content: "\e601"; }

.icon-biking:before {
  content: "\e602"; }

.icon-checkedIn:before {
  content: "\e603"; }

.icon-comments:before {
  content: "\e604"; }

.icon-committed:before {
  content: "\e605"; }

.icon-football:before {
  content: "\e606"; }

.icon-pingPong:before {
  content: "\e607"; }

.icon-racquetball:before {
  content: "\e608"; }

.icon-running:before {
  content: "\e609"; }

.icon-soccer:before {
  content: "\e60a"; }

.icon-tennis:before {
  content: "\e60b"; }

.icon-volleyball:before {
  content: "\e60c"; }

body {
  margin: auto;
  background: #cecece;
  font-family: 'sinkin_sans300_light'; }

header {
  position: fixed;
  height: 57px;
  width: 100%;
  background: #f7f7f7;
  z-index: 100;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); }
  header .headerLink {
    position: relative;
    height: 57px;
    padding: 15px 20px;
    float: right;
    margin-right: 10px;
    transition: 200ms;
    text-align: center; }
    header .headerLink:hover {
      color: #f7f7f7; }
    header .headerLink:hover > .linkSlider {
      opacity: 1;
      top: 0px; }
    header .headerLink .linkSlider {
      position: absolute;
      width: 100%;
      height: 57px;
      top: -90px;
      margin-left: -20px;
      background: #6cab43;
      z-index: -1;
      transition: 200ms; }
      header .headerLink .linkSlider.active {
        opacity: 1;
        top: 0px; }

.verticalPane {
  position: relative;
  float: left;
  width: 600px;
  height: 100%; }
  .verticalPane.small {
    width: 300px; }

#logo {
  position: absolute;
  width: 170px;
  left: 60px; }

.window {
  background: #f7f7f7;
  position: relative;
  float: left;
  margin: 20px;
  border-radius: 5px;
  margin-top: 20px;
  min-height: 200px;
  width: 600px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); }
  .window.side {
    width: 250px; }
  .window:first-child {
    margin-top: 85px; }
  .window .windowHeader {
    position: relative;
    top: 0px;
    padding: 5px 10px;
    color: #2e2d2c;
    background: #cecece;
    width: 100%;
    height: 30px; }
  .window .largeWindowHeader {
    position: relative;
    top: 0px;
    padding: 5px 10px;
    color: #2e2d2c;
    background: #f7f7f7;
    width: 100%;
    height: 180px; }
    .window .largeWindowHeader .editPhoto {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 45px;
      left: 50px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      background: #6cab43;
      border-radius: 50%;
      color: #f7f7f7; }
  .window .windowBlock {
    position: relative;
    float: left;
    width: 33%;
    height: 200px;
    text-align: center;
    background: #2e2d2c;
    color: #f7f7f7;
    font-size: 14px; }
    .window .windowBlock:nth-child(2n+1) {
      width: 34%;
      background: #6cab43; }

#mapCanvas {
  height: 400px;
  margin-top: 20px; }

.listItem {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 5px 10px;
  border-top: 1px solid #cecece;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms ease-in-out; }
  .listItem:hover {
    background: #6cab43; }
  .listItem:hover > .recentInfo {
    color: #f7f7f7; }
  .listItem:hover > .infoText {
    color: #f7f7f7; }
  .listItem:hover > .listImg {
    color: #f7f7f7; }
  .listItem:hover > .infoBlock {
    color: #f7f7f7; }
  .listItem:hover > .statType {
    color: #f7f7f7; }
  .listItem.hover > .statNum {
    color: #f7f7f7; }
  .listItem:hover > .heatImg {
    color: #2e2d2c; }
    .listItem:hover > .heatImg.hot {
      color: #f7f7f7; }
  .listItem .recentInfo {
    position: relative;
    width: 170px;
    height: 100%;
    float: right;
    color: #cecece;
    font-size: 12px;
    transition: 200ms; }
  .listItem .statNum {
    color: #6cab43;
    float: left;
    font-size: 26px;
    margin-left: 10px; }
  .listItem .statType {
    position: relative;
    width: 170px;
    height: 100%;
    float: left;
    color: #cecece;
    margin-top: -8px;
    margin-left: 10px;
    font-size: 12px;
    transition: 200ms; }

.userPhoto {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0px 10px;
  border-radius: 50%;
  pointer-events: none; }
  .userPhoto.large {
    margin: 10px;
    border: 5px solid #f7f7f7;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); }
    .userPhoto.large:hover > .editPhoto {
      opacity: 1;
      pointer-events: all; }

.listImg {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 50px;
  float: left;
  margin: 0px 10px;
  color: #cecece;
  transition: 200ms; }
  .listImg.green {
    color: #6cab43; }

.heatImg {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
  font-size: 50px;
  color: #cecece; }
  .heatImg.hot {
    color: #6cab43; }

.browseGameInfo {
  position: relative;
  height: 100%;
  float: left;
  color: #bababa;
  font-size: 12px;
  transition: 100ms;
  cursor: pointer; }
  .browseGameInfo .infoBlock {
    position: relative;
    float: left;
    margin: 0px 20px;
    width: 180px; }
  .browseGameInfo .infoText {
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    clear: both; }

.filterSection {
  position: relative;
  float: left;
  width: 360px;
  height: auto;
  padding: 10px; }
  .filterSection.side {
    width: 120px;
    height: auto; }

.filterButton {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 60px;
  background: #2e2d2c;
  text-align: center;
  color: #f7f7f7;
  padding-top: 65px;
  cursor: pointer;
  transition: 200ms; }
  .filterButton:hover {
    background: #6cab43; }

.gameButton {
  position: relative;
  width: 100px;
  height: 20px;
  float: left;
  font-size: 12px;
  padding: 3px 5px;
  color: #bababa;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  transition: 200ms;
  cursor: pointer; }
  .gameButton:hover, .gameButton.selected {
    background: #6cab43;
    color: #f7f7f7; }

#popupWindow {
  opacity: 1;
  position: fixed;
  padding: 10px;
  top: 200px;
  right: 0px;
  height: 300px;
  width: 200px;
  background: #cecece;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); }
  #popupWindow.hidden {
    opacity: 0;
    pointer-events: none; }
  #popupWindow .loginField {
    position: relative;
    width: calc(100% - 20px);
    height: 20px;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 20px; }
  #popupWindow #loginButton {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0px;
    margin-left: -10px;
    margin-top: 20px;
    text-align: center;
    background: #2e2d2c;
    padding: 5px 10px;
    color: #f7f7f7;
    cursor: pointer;
    transition: 200ms; }
    #popupWindow #loginButton:hover {
      background: #6cab43;
      color: #f7f7f7; }
