{% extends "events/base.html" %}
{% load static %}
<!-- Loads event filters -->
{% load events_filters %}
	{% block browseLink%}active{% endblock %}s
	{% block topLeftPaneTitle %}Filter Results{% endblock %}
	{% block topLeftPaneContent %}
		<!-- 
		{% for gameType in gameTable %}
			<div class="gameSelection">{{gameType.name}}</div> 
		{% endfor %}
		-->
		<div class="filterSection vert">
			<div class="gameButton gameType">Baseball</div>
			<div class="gameButton gameType">Basketball</div>
			<div class="gameButton gameType">Biking</div>
			<div class="gameButton gameType">Football</div>
			<div class="gameButton gameType">Ping-Pong</div>
			<div class="gameButton gameType">Racquetball</div>
			<div class="gameButton gameType">Running</div>
			<div class="gameButton gameType">Soccer</div>
			<div class="gameButton gameType">Volleyball</div>
			<div class="gameButton gameType">Tennis</div>
		</div>
		<div class="filterSection vert">
			<div id="selectAll" class="gameButton">Select All</div>
			<div id="clearAll" class="gameButton">Clear All</div>
		</div>		
		<div class="filterButton bottom">Go</div>
	{% endblock %}

	{% block bottomLeftPane %}
		<aside class="window side" id="mapCanvas"></aside>
	{% endblock %}

	{% block mainPane %}
		<section class="window gamesContainer">

			<div class="windowHeader">Games</div>
		<!-- Fill in with filtered games from the database -->
		{% for event in events %}
			<a href="/events/game/{{event.id}}/">
				<div class="listItem infinite-item">
					<div class="listImg">
						<!-- Sets proper class for event type -->
						<div class="icon-{{event.court.sport | lower}}"></div>
					</div>
					<div class="browseGameInfo">
						<div class="infoBlock">
							<!-- sets the date, time, and the time until -->
							<div class="infoText">{{event.dateTime.date}}</div>
							<div class="infoText">{{event.dateTime.time}} ({{event.dateTime | timeuntil}})</div>
						</div>
						<div class="infoBlock">
							<div class="infoText"></div>
							<!-- Counts number of participants -->
							<div class="infoText">{{event.participants.count}} people committed</div>
						</div>
						<div class="heatImg">
							<div class="icon-heatRep"></div>
						</div>
					</div>
				</div>
			</a>
			<!-- link to get the next segment of upcoming events -->
			{% if forloop.last %}<a class="infinite-more-link" href="/events/upcoming_events_after/?numEvents=5&dateTime={{event.dateTime | getTimeStamp}}&html=True"></a>{% endif %}
		{% endfor %}
		</section>
	{% endblock %}