{% extends "base.html" %}
{% load static %}
	{% block preReqs %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/pikaday.css' %}">
		<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/pikaday.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/create.js' %}"></script>

	{% endblock %}

	{% block createLink %}active{% endblock %}
	{% block topLeftPane %}
		<!-- <section class="window side">
			<div class="windowHeader">Similar Games</div>	
			<div class="listItem static">
				<div class="listImg green">
					<div class="icon-heatRep"></div>
				</div>
				<div class="statNum">1270</div>
				<div class="statType">game heat</div>
			</div>
			<div class="listItem static">
				<div class="listImg green">
					<div class="icon-committed"></div>
				</div>
				<div class="statNum">9</div>
				<div class="statType">players committed</div>
			</div>
			<div class="listItem static">
				<div class="listImg green">
					<div class="icon-comments"></div>
				</div>
				<div class="statNum">4</div>
				<div class="statType">comments</div>
			</div>
			<div class="listItem static">
				<div class="listImg green">
					<div class="icon-checkedIn"></div>
				</div>
				<div class="statNum">0</div>
				<div class="statType">Checked-in</div>
			</div>
		</section> -->
	{% endblock %}

	{% block bottomLeftPane %}
		<div id="publish" class="sideButton">Publish Game</div>
	{% endblock %}

	{% block mainPane %}
		<section class="window">
			<div class="windowHeader">Game Type</div>
			<!-- Fill in with filtered games from the database -->
			<div class="windowBlock">
				<div class="icon-gsIcon largeIcon"></div>
				<div id="afterIcon" class="blockDeet">Specify Sport Type</div>
			</div>
			<div class="filterSection">
				<!-- 
				{% for gameType in gameTable %}
					<div class="gameSelection">{{gameType.name}}</div> 
				{% endfor %}
				-->
			<form>
				<input name="sports" id="baseball" type="radio" value="5" /><label for="baseball">Baseball</label>
				<input name="sports" id="basketball" type="radio" value="1" /><label for="basketball">Basketball</label>
				<input name="sports" id="biking" type="radio" value="7" /><label for="biking">Biking</label>
				<input name="sports" id="football" type="radio" value="2" /><label for="football">Football</label>
				<input name="sports" id="pingpong" type="radio" value="9" /><label for="pingpong">Ping-Pong</label>
				<input name="sports" id="racquetball" type="radio" value="10" /><label for="racquetball">Racquetball</label>
				<input name="sports" id="running" type="radio" value="8" /><label for="running">Running</label>
				<input name="sports" id="soccer" type="radio" value="6" /><label for="soccer">Soccer</label>
				<input name="sports" id="volleyball" type="radio" value="4" /><label for="volleyball">Volleyball</label>
				<input name="sports" id="tennis" type="radio" value="3" /><label for="tennis">Tennis</label>
			</form>
			</div>
		</section>
	{% endblock %}

	{% block secondarySection %}
		<section class="window">
			<div class="windowHeader">Game Date & Time</div>
			<!-- Fill in with filtered games from the database -->
			<div class="windowBlock scheduler">
				<input type="text" id="pickerInput">
				<div id="pikadayCalendarHolder"></div>
			</div>
			<div class="windowBlock">
				<div id="dayOfWeek" class="blockText">Tuesday</div>
				<div id="monthDay" class="blockText">August 12</div>
				<div id="timeDisplay" class="blockText">2:00 PM</div>
				<div class="blockDeet">Specify Date & Time</div>
			</div>
			<div class="windowBlock scheduler">
				<div class="blockDeet scheduler">Game Start Time</div>
				<div class="timePicker">
					<select id="startHourSelect" class="timeSelect">
						<option value=""></option>
						<option value="12">12</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
					</select>
					<select id="startMinSelect" class="timeSelect">
						<option value=""></option>
						<option value="00">00</option>
						<option value="15">15</option>
						<option value="30">30</option>
						<option value="45">45</option>
					</select>
					<div id="amPmToggle">PM</div>
				</div>
				<div class="blockDeet scheduler">Game Duration</div>
				<div class="timePicker duration">
					<select id="durationHourSelect" class="timeSelect">
						<option value=""></option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select>
					<select id="durationMinSelect" class="timeSelect">
						<option value=""></option>
						<option value="00">00</option>
						<option value="15">15</option>
						<option value="30">30</option>
						<option value="45">45</option>
					</select>
					<label for="durationHourSelected">hour(s)</label> 
					<label for="durationMinSelected">mins</label> 
				</div>
			</div>
		</section>
	{% endblock %}

	{% block thirdSection %}
		<section class="window gameLocation">
			<div class="windowHeader">Game Location</div>
			<div class="sideMap" id="mapCanvas"></div>
			<div class="windowBlock">
				<div class="blockText"></div>
				<div class="blockText"></div>
				<div class="blockText"></div>
				<div class="blockDeet">Specify Location</div>
			</div>
		</section>
	{% endblock %}

{% block lastScript %}
<script>
    
    var map;
    var court_id = null ;
    // Keep a single instance of infowindow so there is only one popup balloon in map instance
    var infowindow = new google.maps.InfoWindow();
    var markers = [];
    var lastValidCenter;
    
    var crts = {};
    // Use django_template_syntax to create json object in script
    
    // Use django_template_syntax to create json object in script
    (function(){
        {% for s in sports  %}      
            crts['{{s.sportType}}'] = []
        {% endfor %}


        {% for c in court %}
        addToCourts('{{c.sport.sportType}}', {{c.latitude}}, {{c.longitude}}, {{c.id}});
        {% endfor %}
    })();


    function addToCourts(sport, latitude, longitude, id){
        crts[sport].push({'latitude':latitude, 'longitude': longitude , 'idee': id});
    }


    /*
    * Given json object (jsonObj), assuming it is two-object-levels deep create marker instances and add to
    * markers array.
    */
    function loadJSON(jsonObj){
        for ( var key in jsonObj ){
            for ( var el in jsonObj[key] ){
                markers.push(new google.maps.Marker({
                    position: new google.maps.LatLng(jsonObj[key][el].latitude, jsonObj[key][el].longitude),
                    map: map,
                    animation:google.maps.Animation.DROP,
                    title: key,
                    idee:jsonObj[key][el].idee
                }));
            }
        }
        return markers;
    }

    function loadSport(json, sport){
        for ( var key in json){
            if ( key !== sport )
                continue;
            for ( var el in json[key] ){
                console.log('key')  ;
                markers.push(new google.maps.Marker({
                    position: new google.maps.LatLng(json[key][el].latitude, json[key][el].longitude),
                    map: map,
                    animation:google.maps.Animation.DROP,
                    title: key,
                    idee:json[key][el].idee
                }));
            }       
        }
        return markers;
    }


    /*
    * Given an array of gmap markers, add it to global map instance
    */
    function loadMarkers(markerArray){
        console.log('loaderMarkers called');
        if (markerArray.length > 0){
            for (var i = 0; i < markers.length; i++) {
                addMarkerEvent(markerArray[i]);
                markerArray[i].setMap(map);
            }
        }
    }



    // Given marker attach a click listener
    function addMarkerEvent(marker){
        google.maps.event.addListener(marker, 'click', function(){
            infowindow.setContent("<div>"+marker.title+"</div>");
            // console.log(marker.idee);
            court_id = marker.idee;
            infowindow.open(map,this);
        });
    }

    // The Range of bounds allowed
    var allowedBounds = new google.maps.LatLngBounds(new google.maps.LatLng(28.592276, -81.208642),
                                                     new google.maps.LatLng(28.611530, -81.187656));


    // Listen for user trying to pan away from UCF area
    function checkBoundsEvent(){
        if ( allowedBounds.contains(map.getCenter())) {
            lastValidCenter = map.getCenter();
            return ;
        }
        map.panTo(lastValidCenter);
    }



    /*
    * Initializes global map instance
    */
    function initMap(){
        var mapOptions = {
            zoom: 14,
            minZoom:14,
            maxZoom:20,
            center: new google.maps.LatLng(28.601648, -81.200306),
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        map = new google.maps.Map(document.getElementById('mapCanvas'), mapOptions);
        google.maps.event.addListener(map, 'center_changed', function(){
            checkBoundsEvent();
        });
        google.maps.event.addListener(map, 'click', function(){
            infowindow.close();
        });
    }



    // Sets the map on all markers in the array.
    function setAllMap(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setAllMap(null);
    }
    // Initially initialize the map with all the points
    function initialize() {
        initMap();
        loadMarkers(loadJSON(crts));
    }


    google.maps.event.addDomListener(window, 'load', function(){
        initialize();
    });

    // 
</script>
{% endblock %}

