{% extends "base.html" %}
{% load static %}
	{% block preReqs %}
		<script type="text/javascript" src="{% static 'js/game.js' %}"></script>
		<script>
			var eventDay = "{{ event.dateTime.day }}";
			var eventDateDOW = "{{ event.dateTime.weekday }}";
			var eventMonth = "{{ event.dateTime.month }}";
			var eventHour = "{{ event.dateTime.hour }}";
			var eventMin = "{{ event.dateTime.minute }}";
			var eventId = {{event.id}};
		</script>

	{% endblock %}

	{% block browseLink %}active{% endblock %}

	{% block topLeftPane %}
		<section class="window side">
			<div class="windowHeader">Game Stats</div>	
			<div class="staticListItem">
				<div class="listImg green">
					<div class="icon-heatRep"></div>
				</div>
				<div class="statNum">{{ event.gameHeat }}</div>
				<div class="statType">game heat</div>
			</div>
			<!-- Fill in with recent events from the database -->
			<div class="staticListItem">
				<div class="listImg green">
					<div class="icon-committed"></div>
				</div>
				<div class="statNum">{{ event.participants.count }}</div>
				<div class="statType">players committed</div>
			</div>
			<div class="staticListItem">
				<div class="listImg green">
					<div class="icon-comments"></div>
				</div>
				<div class="statNum">{{ event.numComments }}</div>
				<div class="statType">comments</div>
			</div>
			<div class="staticListItem">
				<div class="listImg green">
					<div class="icon-checkedIn"></div>
				</div>
				<div class="statNum">{{ event.checkIns }}</div>
				<div class="statType">Checked-in</div>
			</div>
		</section>
	{% endblock %}

	{% block middleLeftPane %}
		<div id="commit" class="sideButton">Commit to Play</div>
	{% endblock %}

	{% block bottomLeftPane %}
		<div id="verify" class="sideButton">Verify Game</div>
	{% endblock %}

	{% block mainPane %}
		<section class="window">
			<div class="windowHeader medium">
				<div class="icon-{{ event.court.sport.sportType | lower }} largeIcon left"></div>
				<div class="headerDeets">
					<h2 class="headerGame">{{ event.court.sport.sportType }}</h2>
				</div>
			</div>
			<!-- Fill in with filtered games from the database -->
			<div class="windowBlock">
				<div id="weekday" class="blockText"></div>
				<div id="monthDay" class="blockText"></div>
				<div id="year" class="blockText">{{ event.dateTime.year }}</div>
				<div class="blockDeet">Date</div>
			</div>
			<div class="windowBlock">
				<div class="blockText">UCF</div>
				<div class="blockText">Memory Mall</div>
				<div class="blockDeet">Location</div>
			</div>
			<div class="windowBlock">
				<div id="time"class="blockText"></div>
				<div class="blockDeet">Time</div>
				<div class="blockText">2 hours</div>
				<div class="blockDeet">Duration</div>
			</div>
			<div class="bigMap" id="mapCanvas"></aside>
		</section>
	{% endblock %}

	{% block secondarySection %}
		<section class="window">
			<div class="windowHeader">Comments</div>
			<!-- Fill in with comments from the database -->
			<div class="staticListItem">
				<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
				<div class="commentSection">
					<div class="comment">Do we need our UCF ID cards to get onto this field?</div>
					<div class="deltaTime">1 day ago</div>
				</div>
			</div>
			<div class="staticListItem">
				<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
				<div class="commentSection">
					<div class="comment">Yes. Everytime I have gone, someone has checked. Usually another player will let you in if you forget though.</div>
					<div class="deltaTime">2 hours ago</div>
				</div>
			</div>
			<div class="staticListItem">
				<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
				<div class="commentSection">
					<div class="comment">Who is bringing the ball?</div>
					<div class="deltaTime">1 hour ago</div>
				</div>
			</div>
			<div class="staticListItem">
				<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
				<div class="commentSection">
					<div class="comment">I can bring the ball. Does anyone have cones though?</div>
					<div class="deltaTime">20 mins ago</div>
				</div>
			</div>
			<div class="staticListItem">
				<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
				<div class="commentSection create">
					<textarea id="commentInput" placeholder="comment"></textarea>
				</div>
				<div id="submitComment">
					<div class="icon-arrow-up"></div>
				</div>
			</div>
		</section>
	{% endblock %}
