{% extends "base.html" %}
{% load static %}
	{% block homeLink %}active{% endblock %}

	{% block preReqs %}
	<script src="{% static 'js/index.js' %}"></script>
    {% endblock %}

	{% block topLeftPane %}
	<section class="window side">
		<div class="windowHeader">Recent Activity</div>	
		<!-- Iteration over each activity showing what the activity is, the sport for it, and the timesince -->
		{% for activity in recent_activity %}
			<a href="/events/game/{{activity.event.id}}">
				<div class="listItem">
					<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
					<div class="recentInfo">
						<div class="recentAction">{{activity.activity}}</div>
						<div class="recentGameType">{{activity.event.court.sport}}</div>
						<div class="recentTime">{{activity.time | timesince }} ago</div>
					</div>
				</div>
			</a>
		{% endfor %}
		</section>
	{% endblock %}

	{% block bottomLeftPane %}
		<aside class="window side" id="mapCanvas"></aside>
	{% endblock %}
	
	{% block mainPane %}
		<section class="window">
			<div class="windowHeader">Upcoming Events</div>
		<!-- Fill in with filtered games from the database -->
		{% for event in events %}
			<a href="/events/game/{{event.id}}/">
				<div class="listItem infinite-item">
					<div class="listImg">
						<!-- Sets proper class for event type -->
						<div class="icon-{{event.court.sport | lower}}"></div>
					</div>
					<div class="browseGameInfo">
						<div class="infoBlock">
							<!-- sets the date, time, and the time until -->
							<div class="infoText">{{event.dateTime.date}}</div>
							<div class="infoText">{{event.dateTime.time}} ({{event.dateTime | timeuntil}})</div>
						</div>
						<div class="infoBlock">
							<div class="infoText"></div>
							<!-- Counts number of participants -->
							<div class="infoText">{{event.participants.count}} people committed</div>
						</div>
						<div class="heatImg">
							<div class="icon-heatRep"></div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
		</section>
	{% endblock %}

