{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}gameServe{% endblock%}</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/browse.js' %}"></script>
	<script src="{% static 'js/header.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'assets/titleIconGS.gif' %}" type="image/gif"/>
	{% block preReqs %}{% endblock %}
</head>

<body>
<div id="content">
	<div id="fader"></div>
	<header>
		<section class="center head">
			<img src="{% static 'assets/gsLogo.svg' %}" id="logo">

			<div id="login" class="headerLink">
				login
				<div class="linkSlider"></div>
			</div>
			<div id="create" class="headerLink">
				create a game
				<div class="linkSlider {% block createLink %}{% endblock %}"></div>
			</div>
			<div id="browse" class="headerLink">
				browse
				<div class="linkSlider {% block browseLink %}{% endblock %}"></div>
			</div>
			<div id="home" class="headerLink">
				home
				<div class="linkSlider {% block homeLink %}{% endblock %}"></div>
			</div>
			<div id="headerFade"></div>
		</section>
	</header>
	<section class="center">
		<aside class="verticalPane small">
			<section class="window side">
				<div class="windowHeader">{% block topLeftPaneTitle %}Recent Activity{% endblock %}</div>	
				{% block topLeftPaneContent %}
				{% endblock %}
			</section>

	 		{% block gmap %}{% endblock %}

		</aside>
		<section class="verticalPane">
			
			{% block mainPane %}{% endblock %}

			{% block secondarySection %}{% endblock %}

			{% block thirdSection %}{% endblock %}
			
		</section>
	</section>
</div>
{% block loginPopup %}
	<section class="center">
		<form id="popupWindow" class="hidden">
			<div class="windowHeader" >
				<div id="loginHeader">Login to gameServe</div>
				<div class="icon-close"></div>
			</div>
			<div id="existingMember">
				<h5>email:</h5>
				<input type="text" class="loginField" id="emailInput" placeholder="email">
				<h5>password:</h5>
				<input type="text" class="loginField" id="passwordInput" placeholder="password">
			</div>
			<div id="newMember" class="hidden">
				<h5>username:</h5>
				<input type="text" class="loginField" id="nameInput" placeholder="name">
				<h5>email:</h5>
				<input type="text" class="loginField" id="newEmailInput" placeholder="email">
				<h5>verify email:</h5>
				<input type="text" class="loginField" id="verEmailInput" placeholder="email">
				<h5>password:</h5>
				<input type="password" class="loginField" id="newPasswordInput" placeholder="password">
				<h5>verify password:</h5>
				<input type="password" class="loginField" id="verPasswordInput" placeholder="password">
				<h5>phone number:</h5>
				<input type="text" class="loginField" id="pNumInput" placeholder="phone number">
			</div>
			<div class="authButtonSection">
				<div id="loginButton" class="authButton">Login</div>
				<div id="newUser" class="authButton">New Member</div>
			</div>
		</form>
	</section>
{% endblock %}
	
</body>
</html>
