{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}gameServe{% endblock%}</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/header.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'assets/titleIconGS.gif' %}" type="image/gif"/>
</head>

<body>
	<header>
		<img src="{% static 'assets/gsLogo.svg' %}" id="logo">

		<div id="login" class="headerLink">
			login
			<div class="linkSlider"></div>
		</div>
		<div id="create" class="headerLink">
			create a game
			<div class="linkSlider"></div>
		</div>
		<div id="browse" class="headerLink">
			browse
			<div class="linkSlider"></div>
		</div>
		<div id="home" class="headerLink">
			home
			<div class="linkSlider"></div>
		</div>
		<div id="headerFade"></div>
	</header>
	<aside class="verticalPane small">
		<section class="window side">
			<div class="windowHeader">{% block topLeftPaneTitle %}Recent Activity{% endblock %}</div>	
			{% block topLeftPaneContent %}
			{% endblock %}
		</section>
 		<aside class="window side" id="mapCanvas"></aside>
	</aside>
	<section class="verticalPane">
		
		{% block mainPane %}{% endblock %}
		{% block secondarySection %}{% endblock %}
		
	</section>
	{% block loginPopup %}
		<form id="popupWindow" class="hidden">
			email:<input type="text" class="loginField" id="emailInput" placeholder="email">
			password:<input type="text" class="loginField" id="passwordInput" placeholder="password">
			<div class="authButtonSection">
				<div id="loginButton" class="authButton">Login</div>
				<div id="newUser" class="authButton">New Member</div>
			</div>
		</form>
	{% endblock %}
</body>
</html>
