{% extends "main/base.html" %}
	{% block topLeftPaneTitle %}Recent Activity{% endblock %}
	{% block topLeftPaneContent %}
		<div class="listItem">
			<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
			<div class="recentInfo">
				<div class="recentAction">committed to play</div>
				<div class="recentGameType">Soccer</div>
				<div class="recentTime">30 mins ago</div>
			</div>
		</div>
		<!-- Fill in with recent events from the database -->
		<div class="listItem">
			<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
			<div class="recentInfo">
				<div class="recentAction">committed to play</div>
				<div class="recentGameType">Soccer</div>
				<div class="recentTime">30 mins ago</div>
			</div>
		</div>
		<div class="listItem">
			<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
			<div class="recentInfo">
				<div class="recentAction">created an event</div>
				<div class="recentGameType">Running</div>
				<div class="recentTime">45 mins ago</div>
			</div>
		</div>
		<div class="listItem">
			<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
			<div class="recentInfo">
				<div class="recentAction">checked-in</div>
				<div class="recentGameType">Tennis</div>
				<div class="recentTime">1 hour ago</div>
			</div>
		</div>
		<div class="listItem">
			<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
			<div class="recentInfo">
				<div class="recentAction">created an event</div>
				<div class="recentGameType">Basketball</div>
				<div class="recentTime">1 hour ago</div>
			</div>
		</div>
	{% endblock %}

	{% block mainPane %}
		<section class="window">
			<div class="windowHeader">Games</div>
		<!-- Fill in with filtered games from the database -->
			<div class="listItem">
				<div class="listImg">
					<div class="icon-volleyball"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">Today</div>
						<div class="infoText">1:45 p.m. (45 mins)</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">11 people committed</div>
					</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-running"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">	
						<div class="infoText">Today</div>
						<div class="infoText">2:30 p.m. (1.5 hours)</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">14 people committed</div>
					</div>
					<div class="heatImg hot">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-tennis"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">Today</div>
						<div class="infoText">5:00 p.m. (4 hours)</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">8 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-soccer"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">Tomorrow</div>
						<div class="infoText">12:30 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">10 people committed</div>
					</div>
					<div class="heatImg hot">
						<div class="icon-heatRep"></div>
					</div>

				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-baseball"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">Tomorrow</div>
						<div class="infoText">6:30 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">6 people committed</div>
					</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-biking"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">June 2 (3 days)</div>
						<div class="infoText">5:00 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">5 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-volleyball"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">June 3 (4 days)</div>
						<div class="infoText">1:00 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">6 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-football"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">June 5 (6 days)</div>
						<div class="infoText">11:00 a.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">3 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-pingPong"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">June 5 (6 days)</div>
						<div class="infoText">8:00 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">2 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-biking"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">June 6 (7 days)</div>
						<div class="infoText">5:00 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">5 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			<div class="listItem">
				<div class="listImg">
					<div class="icon-racquetball"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">
						<div class="infoText">June 8 (9 days)</div>
						<div class="infoText">7:30 p.m.</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">3 people committed</div>
						</div>
					<div class="heatImg">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}