{% extends "main/base.html" %}
{% load static %}
	{% block homeLink %}active{% endblock %}

	{% block topLeftPaneTitle %}Recent Activity{% endblock %}

	{% block topLeftPaneContent %}
		<div class="listItem">
			<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
			<div class="recentInfo">
				<div class="recentAction">committed to play</div>
				<div class="recentGameType">Soccer</div>
				<div class="recentTime">30 mins ago</div>
			</div>
		</div>
		<!-- Fill in with recent events from the database -->
		<div class="listItem">
			<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
			<div class="recentInfo">
				<div class="recentAction">committed to play</div>
				<div class="recentGameType">Soccer</div>
				<div class="recentTime">30 mins ago</div>
			</div>
		</div>
		<div class="listItem">
			<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
			<div class="recentInfo">
				<div class="recentAction">created an event</div>
				<div class="recentGameType">Running</div>
				<div class="recentTime">45 mins ago</div>
			</div>
		</div>
		<div class="listItem">
			<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
			<div class="recentInfo">
				<div class="recentAction">checked-in</div>
				<div class="recentGameType">Tennis</div>
				<div class="recentTime">1 hour ago</div>
			</div>
		</div>
		<div class="listItem">
			<img class="userPhoto" src="{% static 'assets/gsGeneralPerson.jpg' %}">
			<div class="recentInfo">
				<div class="recentAction">created an event</div>
				<div class="recentGameType">Basketball</div>
				<div class="recentTime">1 hour ago</div>
			</div>
		</div>
	{% endblock %}

	{% block gmap %}
		<aside class="window side" id="mapCanvas"></aside>
	{% endblock %}
	
	{% block mainPane %}
		<section class="window">
			<div class="windowHeader">Upcoming Events</div>
			{% for upcomingResult in "dbResults" %}
			<!-- 
			<div class="listItem">
				<div class="listImg">
					<div class="icon-{{upcomingResult.gameType}}"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">	
						<div class="infoText">{{upcomingResult.date}}</div>
						<div class="infoText">{{upcomingResult.time}} ({{upcomingResult.deltaTime}})</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">{{upcommingResult.numCommitted}} people committed</div>
					</div>
					<div class="heatImg {% if upcommingResult.hot %} hot {% endif %}">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			 -->
			<div class="listItem">
				<div class="listImg">
					<div class="icon-tennis"></div>
				</div>
				<div class="browseGameInfo">
					<div class="infoBlock">	
						<div class="infoText">Today</div>
						<div class="infoText">1:45 p.m. (45 mins)</div>
					</div>
					<div class="infoBlock">
						<div class="infoText"></div>
						<div class="infoText">11 people committed</div>
					</div>
					<div class="heatImg hot">
						<div class="icon-heatRep"></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</section>
	{% endblock %}

	{% block secondarySection %}
		<section class="window">
			<div class="windowHeader">Search for Events</div>
			<div class="filterSection">
				<!-- 
				{% for gameType in gameTable %}
					<div class="gameSelection">{{gameType.name}}</div> 
				{% endfor %}
				-->
				<div class="gameButton gameType">Baseball</div>
				<div class="gameButton gameType">Basketball</div>
				<div class="gameButton gameType">Biking</div>
				<div class="gameButton gameType">Football</div>
				<div class="gameButton gameType">Ping-Pong</div>
				<div class="gameButton gameType">Racquetball</div>
				<div class="gameButton gameType">Running</div>
				<div class="gameButton gameType">Soccer</div>
				<div class="gameButton gameType">Volleyball</div>
			</div>
			<div class="filterSection side">
				<div id="selectAll" class="gameButton">Select All</div>
				<div id="clearAll" class="gameButton">Clear All</div>
			</div>
			<div class="filterButton">Go</div>
		</section>	
	{% endblock %}
