{% extends "base.html" %}
<div class="recentEvent">
	<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
	<div class="recentInfo">
		<div class="recentAction">committed to play</div>
		<div class="recentGameType">Soccer</div>
		<div class="recentTime">30 mins ago</div>
	</div>
</div>
<!-- Fill in with recent events from the database -->
<!-- <div class="recentEvent">
	<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
	<div class="recentInfo">
		<div class="recentAction">committed to play</div>
		<div class="recentGameType">Soccer</div>
		<div class="recentTime">30 mins ago</div>
	</div>
</div>
<div class="recentEvent">
	<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
	<div class="recentInfo">
		<div class="recentAction">created an event</div>
		<div class="recentGameType">Running</div>
		<div class="recentTime">45 mins ago</div>
	</div>
</div>
<div class="recentEvent">
	<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
	<div class="recentInfo">
		<div class="recentAction">checked-in</div>
		<div class="recentGameType">Tennis</div>
		<div class="recentTime">1 hour ago</div>
	</div>
</div>
<div class="recentEvent">
	<img class="userPhoto" src="{{ STATIC_URL }}/assets/gsGeneralPerson.jpg">
	<div class="recentInfo">
		<div class="recentAction">created an event</div>
		<div class="recentGameType">Basketball</div>
		<div class="recentTime">1 hour ago</div>
	</div>
</div> -->
<!-- Fill in with recent events from the database -->