<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        {% include "head.html" %}
        <title>Login</title>
    </head>

    <body>

        {% include "top_navi.html" %}

        <form role="form" id="login_form" method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                <label for="usernameInput">Username: </label>
                <input id="usernameInput" type="text" name="username" value="" size="50" />
            </div>

            <div class="form-group">
                <label for="passwordInput">Password: </label>
                <input id="passwordInput" type="password" name="password" value="" size="50" />
            </div>            

            <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>

        </form>

    </body>
</html>
