{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

 {% block preReqs %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

    {% block loginLink%}active{% endblock %}
        
    {% block topLeftPaneTitle %}Privacy Policy{% endblock %}
    {% block topLeftPane %}HELLLO{% endblock %}
    {% block middleLeftPane %}
        <button type="submit" form="oldMember" id="signIn" class="sideButton">Create Account</button>
    {% endblock %}

    {% block bottomLeftPane %}
        <div id="newVsOldUser" class="sideButton">Existing Member</div>
    {% endblock %}

    {% block mainPane %}
        <div class="window">
            <div class="windowHeader" >
                <div id="loginHeader">Create an account at gameServe</div>
            </div>
            <div class="accountSection expand">
                <form id="oldMember" class="hidden" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="loginBlock">
                        <h5>email:</h5>
                        <input type="text" class="loginField" id="id_login" placeholder="username" name="login">
                    </div>
                    {{ form.login.errors }}
                    <div class="loginBlock">
                        <h5>password:</h5>
                        <input type="text" class="loginField" id="id_password" placeholder="password" name="password">
                    </div>
                    {{ form.password.errors }}
                    <div class="loginBlock">
                        <div class="remember-forgot-section">
                            <input id="id_remember" name="remember" type="checkbox" />
                            <label for="id_remember">Remember Me</label>
                        </div>
                    </div>
                    <div class="loginBlock">   
                        <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                </form>
                <div id="newMember">
                    <div class="loginBlock">
                        <h5>username:</h5>
                        <input type="text" class="loginField" id="nameInput" placeholder="name" name="nameInput">
                    </div>
                    <div class="loginBlock">
                        <h5>phone number:</h5>
                        <input type="text" class="loginField" id="pNumInput" placeholder="phone number" name="pNumInput">
                    </div>
                    <div class="loginBlock">
                        <h5>email:</h5>
                        <input type="text" class="loginField" id="newEmailInput" placeholder="email" name="newEmailInput">
                    </div>
                    <div class="loginBlock">
                        <h5>password:</h5>
                        <input type="password" class="loginField" id="newPasswordInput" placeholder="password" name="newPasswordInput">
                    </div>
                    <div class="loginBlock">
                        <h5>verify email:</h5>
                        <input type="text" class="loginField" id="verEmailInput" placeholder="email" name="verEmailInput">
                    </div>
                    <div class="loginBlock">
                        <h5>verify password:</h5>
                        <input type="password" class="loginField" id="verPasswordInput" placeholder="password" name="verPasswordInput">
                    </div>
                    <div class="tempPhotoUpload">
                        <h5>[optional photo uploader]</h5>
                    </div>
                </div>
            </div>
            <div id="facebookLogin">
                <div class="icon-facebook"></div>
                <a href="/account/facebook/login/"><div id="facebookText">Create an account through facebook</div></a>
                {% include "socialaccount/snippets/login_extra.html" %}
            </div>
        </form>
    {% endblock %}
