{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

 {% block preReqs %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

    {% block loginLink%}active{% endblock %}
        
    {% block topLeftPaneTitle %}Privacy Policy{% endblock %}
    {% block topLeftPane %}HELLLO{% endblock %}
    {% block middleLeftPane %}
        <button type="submit" form="newMember" id="signUp" class="sideButton">Create Account</button>
    {% endblock %}

    {% block bottomLeftPane %}
        <div id="newVsOldUser" class="sideButton">Already have an acount?</div>
    {% endblock %}

    {% block mainPane %}
        <div class="window">
            <div class="windowHeader" >
                <div id="loginHeader">Create an account at gameServe</div>
            </div>
            <div class="accountSection expand">
                <div id="newMember">
                    <div class="loginBlock">
                        <h5>username:</h5>
                        <input type="text" class="loginField" id="nameInput" placeholder="name" name="nameInput">
                    </div>
                    <div class="loginBlock">
                        <h5>phone number:</h5>
                        <input type="text" class="loginField" id="pNumInput" placeholder="phone number" name="pNumInput">
                    </div>
                    <div class="loginBlock">
                        <h5>email:</h5>
                        <input type="text" class="loginField" id="newEmailInput" placeholder="email" name="newEmailInput">
                    </div>
                    <div class="loginBlock">
                        <h5>password:</h5>
                        <input type="password" class="loginField" id="newPasswordInput" placeholder="password" name="newPasswordInput">
                    </div>
                    <div class="loginBlock">
                        <h5>verify email:</h5>
                        <input type="text" class="loginField" id="verEmailInput" placeholder="email" name="verEmailInput">
                    </div>
                    <div class="loginBlock">
                        <h5>verify password:</h5>
                        <input type="password" class="loginField" id="verPasswordInput" placeholder="password" name="verPasswordInput">
                    </div>
                    <div class="tempPhotoUpload">
                        <h5>[optional photo uploader]</h5>
                    </div>
                </div>
            </div>
            <div id="facebookLogin">
                <div class="icon-facebook"></div>
                <a href="/account/facebook/login/"><div id="facebookText">Create an account through facebook</div></a>
                {% include "socialaccount/snippets/login_extra.html" %}
            </div>
        </form>
    {% endblock %}
